# General configuration
# Number of minutes before the quest can be redone
redoMinuts: 5
# Chosen lang (file name) Available by default: fr_FR, en_US, zh_CN, de_DE, it_IT, es_ES, pt_PT
lang: en_US
# > 1.13 Chosen Minecraft vanilla translations (JSON file name). Some can be found on SkytAsul's Discord server
minecraftTranslationsFile: null
# Enable or disable update checking on the loading
checkUpdates: true
# Enable or disable prefix before plugin message
enablePrefix: true
# Number of minutes between two periodic saves
saveCycle: 15
# ID of the quest who will be started on first connection of players (to disable: -1)
firstQuest: -1
# Max amount of quests who can be started at the same time by a player (you can bypass this limit for some quests)
maxLaunchedQuests: 0
# Database configuration
database:
  enabled: false
  host: "localhost"
  port: 3306
  database: "beautyquests"
  username: "unknown"
  password: "unknown"
  ssl: false

# Quests behaviors
# Enable or disable the scoreboards - more options in scoreboard.yml
scoreboards: true
# Enable or disable message when a quest is updated (next stage)
playerQuestUpdateMessage: true
# Enable or disable default messages when a stage starts
playerStageStartMessage: true
# Allows player to cancel quests they have started with the GUI
allowPlayerCancelQuest: true
# Shows a Yes/No GUI to let the player choose if he wants to accept the quest or not
questConfirmGUI: false
# Dialogs are shown in the action bar instead of the chat
dialogsInActionBar: false
# Default time between two dialogs lines (in ticks: 1s = 20 ticks). 0 to disable.
dialogsDefaultTime: 100
# If enabled, players will not be allowed to click on the NPC to pass a line of dialog
disableDialogClick: false
# Enable of disable playing sounds on various actions
sounds: true
# Sound played at the end of a quest
finishSound: ENTITY_PLAYER_LEVELUP
# Enable or disable end fireworks
fireworks: true
# Show a progress bar (bossbar) when a player has to kill some mobs for a quest
mobsProgressBar: false
# Amount of seconds before the progress bar will disappear (set it to 0 to make it persistent)
progressBarTimeoutSeconds: 15
# Item who represents a quest in the Choose Quest GUI
item: BOOK
# Page item material
pageItem: ARROW

# - Integrations -
# Enable GPS integration
gps: false
# Enable or disable SkillAPI experience overriding in xp reward/requirement
skillAPIoverride: true
# Enable or disable AccountsHook managing player accounts
accountsHook: false
# (PlaceholderAPI) Max amount of lines for the splitted placeholder %beautyquests_started_ordered_X%
splittedAdvancementPlaceholderMax: 3
# (HolographicDisplays) Disable the hologram above NPC's head
disableTextHologram: false
# (HolographicDisplays) Value added to the hologram height (decimal value)
hologramsHeight: 0.0
# (HolographicDisplays) Material name of the hologram showed above head of Quests starter. If ProtocolLib is enabled, holograms will be visible only by players who can start the quest
holoLaunchItemName: BOOK
# (HolographicDisplays) Material name of the hologram showed above head of Stage NPC. If ProtocolLib is enabled, holograms will be visible only by players who has to talk with this NPC
holoTalkItemName: COAL
# (HolographicDisplays) Is the custom name of the hologram in datas.yml shown
showCustomHologramName: true
# dynmap integration options
dynmap:
  markerSetName: "Quests"
  markerIcon: "bookshelf"
  minZoom: 0

# - Stage descriptions -
# Prefix before object's name in lists (example: §6first, §6second and §6third)
itemNameColor: "§6"
# Prefix before object's amount in lists (example: first§ex2, second§ex7 and third§ex4)
itemAmountColor: "§e"
stageDescriptionItemsSplit:
  # Prefix before each line
  prefix: "§e- §6"
  # Show "x1" if there is only one object
  showXOne: true
  # From which sources the text has to be split
  sources: [SCOREBOARD, MENU]
  #


# - Particles configuration -
# enabled: will the particle be shown?
# particleEffect: name of the particle
# particleColor: for colored particles, RGB value of the color
# particleShape: shape of the particle effect (available: point, near, bar, exclamation, spot)

# Particles shown on a NPC when the player can start the quest
start:
  enabled: true
  particleEffect: redstone
  particleColor:
    RED: 255
    BLUE: 0
    GREEN: 255
  particleShape: point
# Particles shown on the NPC to which the player has to talk
talk:
  enabled: true
  particleEffect: villager_happy
  particleColor:
    RED: 255
    BLUE: 0
    GREEN: 255
  particleShape: bar
# Particles shown when the player finish a stage of a quest
next:
  enabled: true
  particleEffect: smoke_normal
  particleColor:
    RED: 255
    BLUE: 0
    GREEN: 255
  particleShape: spot